/* global styles to this file */
:root {
  color-scheme: light dark;
}

body,
header,
main,
aside,
section,
footer {
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#efedea, #2b303b);
  font-family: system-ui, -apple-system, blinkmacsystemfont, "segoe ui", roboto,
    oxygen, ubuntu, cantarell, "open sans", "helvetica neue", sans-serif;
}

.social-media-list {
  padding: 20px;
}

.social-media-list ul {
  list-style: none;
  padding: 0;
}

.social-media-list ul li {
  margin-bottom: 10px;
}

.social-media-list ul li a {
  text-decoration: none;
  color: #333;
}

.social-media-list ul li a:hover {
  color: #007bff;
}

.form-group {
  margin-bottom: 20px;
}
