/* global styles to this file */
:root {
  color-scheme: light dark;
}

body,
html,
header,
main,
aside,
section,
footer {
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#efedea, #2b303b);
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, blinkmacsystemfont, "segoe ui", roboto,
    oxygen, ubuntu, cantarell, "open sans", "helvetica neue", sans-serif;
}

footer {
  background-color: #2b303b;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto; /* Esto empuja el footer a la parte inferior */
}

img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.social-media-list {
  padding: 20px;
}

.social-media-list ul {
  list-style: none;
  padding: 0;
}

.social-media-list ul li {
  margin-bottom: 10px;
}

.social-media-list ul li a {
  text-decoration: none;
  color: #333;
}

.social-media-list ul li a:hover {
  color: #007bff;
}

.form-group {
  margin-bottom: 20px;
}

/* Estilos para el formulario */
.form-control {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Estilos para botones */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

#comentarios-container {
  padding-top: 20px;
}

/* Estilos para el pie de página */
#pie-pagina {
  margin: 0;
  padding: 20px 0; /* Ajusta según sea necesario */
  background-color: #2b303b;
  color: #fff;
  text-align: center;
}

.copy-right {
  margin-bottom: 0;
}
